In [1]:
%matplotlib inline

import warnings

import pandas as pd
import numpy as np

import matplotlib.pylab as plt
from matplotlib.pylab import rcParams

from core.database import *


# set pre-defined params
rcParams['figure.figsize'] = 15, 6
window = 15

# define db
db = Database(name='bdf')

# pull gold and silver
gold = db.get_commodity('gold')
silver = db.get_commodity('silver')

gold.set_index('date', inplace=True)
silver.set_index('date', inplace=True)

In [2]:
"""
    I’ve removed some of the previous columns (open price, daily highs and lows) and reformulated some new ones. 
    close_off_high represents the gap between the closing price and price high for that day, 
    where values of -1 and 1 mean the closing price was equal to the daily low or daily high, respectively. 
    The volatility columns are simply the difference between high and low price divided by the opening price. 
    You may also notice that model_data is arranged in order of earliest to latest. 
    We don’t actually need the date column anymore, as that information won’t be fed into the model.
"""

"""
    Data preparation:
        - remove open, high, low
"""

from sklearn.preprocessing import MinMaxScaler


columns = ['price', 'change', 'volatility', 'vol']
to_scale = ['price', 'vol']
scaler = MinMaxScaler()

gold['volatility'] = (gold['high'] - gold['low'])/gold['open']
df_g = gold.loc[:, columns]
df_g[to_scale] = scaler.fit_transform(df_g[to_scale])

df_g.head()

               price  change  volatility       vol
date
2018-02-22  0.207865 -0.0024    0.003236  0.000000
2018-02-22  0.207865 -0.0024    0.003236  0.000000
2018-02-21  0.267790 -0.0017    0.010359  0.000000
2018-02-20  0.310861 -0.0123    0.017331  0.759227
2018-02-19  0.621723 -0.0020    0.004813  0.000000

In [3]:
"""
    Data preparation:
        - remove open, high, low
"""

columns = ['price', 'change', 'volatility', 'vol']
to_scale = ['price', 'vol']
scaler = MinMaxScaler()

silver['volatility'] = (silver['high'] - silver['low'])/silver['open']
df_s = silver.loc[:, columns]
df_s[to_scale] = scaler.fit_transform(df_s[to_scale])

df_s.head()

               price  change  volatility  vol
date
2018-02-22  0.095436 -0.0042    0.005759  0.0
2018-02-21  0.153527  0.0043    0.024041  0.0
2018-02-20  0.095436 -0.0111    0.015051  0.0
2018-02-19  0.248963  0.0003    0.007229  0.0
2018-02-18  0.244813  0.0003    0.003012  0.0

In [11]:
"""
    Data preparation:
        - remove open, high, low
"""

df = df_g.join(df_s, how='inner', lsuffix='_g', rsuffix='_s')
df.drop_duplicates(inplace=True)
df.head()

,price_g,change_g,volatility_g,vol_g,price_s,change_s,volatility_s,vol_s
date,,,,,,,,
2018-01-22,0.417603,0.0029,0.005525,0.220387,0.585062,-0.0038,0.008785,0.0
2018-01-23,0.507491,0.0036,0.008069,0.148727,0.614108,0.0021,0.020570,0.0
2018-01-24,0.876404,0.0147,0.016862,0.336622,1.000000,0.0273,0.037537,0.0
2018-01-25,1.000000,0.0048,0.017832,0.301215,0.825726,-0.0120,0.032820,0.0
2018-01-26,0.797753,-0.0079,0.009167,0.300560,0.892116,0.0046,0.013580,0.0

In [12]:
def input_evaluation_set(df, label):
    features = dict()
    for col in [c for c in df.columns if c not in [label]]:
        features[col] = np.array(df[col])
    labels = np.array(df[label])
    
    return features, labels

In [15]:
features, labels = input_evaluation_set(df, 'price_g')

In [14]:
def train_input_fn(features, labels, batch_size):
    """An input function for training"""
    # Convert the inputs to a Dataset.
    dataset = tf.data.Dataset.from_tensor_slices((dict(features), labels))

    # Shuffle, repeat, and batch the examples.
    dataset = dataset.shuffle(1000).repeat().batch(batch_size)

    # Build the Iterator, and return the read end of the pipeline.
    return dataset.make_one_shot_iterator().get_next()

In [16]:
train_input_fn(features, labels, 3)

NameError: name 'tf' is not defined