In [1]:
from core.commodity import *
from core.database import *


commodity = 'gold'

db = Database(name='bdf')

In [5]:
df = db.get_commodity(commodity=commodity, start_date='2018-02-01', end_date='2018-02-12')
df

         date commodity    high     low    open   price       vol  change
8  2018-02-12      gold  1330.0  1316.3  1317.1  1326.4  208070.0  0.0081
9  2018-02-09      gold  1325.0  1313.2  1321.0  1315.7  317670.0 -0.0025
10 2018-02-08      gold  1324.5  1309.0  1320.7  1319.0  365930.0  0.0033
11 2018-02-07      gold  1334.8  1313.5  1326.6  1314.6  351230.0 -0.0112
12 2018-02-06      gold  1349.3  1322.8  1343.1  1329.5  473350.0 -0.0052
13 2018-02-05      gold  1344.8  1331.6  1334.6  1336.5  305680.0 -0.0006
14 2018-02-02      gold  1353.3  1330.1  1352.2  1337.3  431410.0 -0.0079
15 2018-02-01      gold  1354.3  1340.2  1348.2  1347.9  310500.0  0.0036

In [4]:
df01 = db.data
df01

         date commodity    high     low    open   price       vol  change
0  2018-02-21      gold  1335.2  1327.4  1332.2  1332.1       0.0  0.0007
1  2018-02-20      gold  1354.0  1330.6  1350.2  1331.2  359380.0 -0.0123
2  2018-02-19      gold  1353.9  1347.4  1350.4  1347.8       0.0 -0.0020
3  2018-02-18      gold  1352.4  1349.7  1349.7  1350.5       0.0 -0.0042
4  2018-02-16      gold  1364.4  1347.3  1356.6  1356.2  230900.0  0.0007
5  2018-02-15      gold  1359.8  1350.8  1353.0  1355.3  274930.0 -0.0020
6  2018-02-14      gold  1358.6  1319.1  1331.9  1358.0  431720.0  0.0207
7  2018-02-13      gold  1333.5  1323.7  1325.0  1330.4  201430.0  0.0030
8  2018-02-12      gold  1330.0  1316.3  1317.1  1326.4  208070.0  0.0081
9  2018-02-09      gold  1325.0  1313.2  1321.0  1315.7  317670.0 -0.0025
10 2018-02-08      gold  1324.5  1309.0  1320.7  1319.0  365930.0  0.0033
11 2018-02-07      gold  1334.8  1313.5  1326.6  1314.6  351230.0 -0.0112
12 2018-02-06      gold  1349.3  1322.8  1343.1  1329.5  473350.0 -0.0052
13 2018-02-05      gold  1344.8  1331.6  1334.6  1336.5  305680.0 -0.0006
14 2018-02-02      gold  1353.3  1330.1  1352.2  1337.3  431410.0 -0.0079
15 2018-02-01      gold  1354.3  1340.2  1348.2  1347.9  310500.0  0.0036
16 2018-01-31      gold  1351.0  1335.5  1341.8  1343.1  377140.0  0.0023
17 2018-01-30      gold  1352.5  1337.5  1344.0  1340.0  412520.0 -0.0038
18 2018-01-29      gold  1356.3  1340.9  1353.7  1345.1  233760.0 -0.0089
19 2018-01-26      gold  1361.0  1348.6  1352.7  1357.2  142270.0 -0.0079
20 2018-01-25      gold  1370.5  1346.2  1362.7  1368.0  142580.0  0.0048
21 2018-01-24      gold  1366.8  1344.1  1346.2  1361.4  159340.0  0.0147
22 2018-01-23      gold  1346.6  1335.8  1338.4  1341.7   70400.0  0.0036
23 2018-01-22      gold  1340.3  1332.9  1339.4  1336.9  104320.0  0.0029