In [1]:
from core.commodity import *
from core.database import *


commodity = 'gold'

db = Database(name='bdf')

In [2]:
df = db.get_commodity(commodity=commodity, start_date='2018-02-01', end_date='2018-02-12')
df

         date commodity    high     low    open   price       vol  change
8  2018-02-12      gold  1330.0  1316.3  1317.1  1326.4  208070.0  0.0081
9  2018-02-09      gold  1325.0  1313.2  1321.0  1315.7  317670.0 -0.0025
10 2018-02-08      gold  1324.5  1309.0  1320.7  1319.0  365930.0  0.0033
11 2018-02-07      gold  1334.8  1313.5  1326.6  1314.6  351230.0 -0.0112
12 2018-02-06      gold  1349.3  1322.8  1343.1  1329.5  473350.0 -0.0052
13 2018-02-05      gold  1344.8  1331.6  1334.6  1336.5  305680.0 -0.0006
14 2018-02-02      gold  1353.3  1330.1  1352.2  1337.3  431410.0 -0.0079
15 2018-02-01      gold  1354.3  1340.2  1348.2  1347.9  310500.0  0.0036

In [3]:
stats = db.get_stats(commodity=commodity, metric='price', start_date='02-01', end_date='2018-02-12')
stats

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 1-02-01 00:00:00

In [11]:
import re

start_date = '2018-01-01'
end_date = '2018-01-02'
p = re.compile(r'\d{4}-\d{2}-\d{2}')

if (p.match(start_date)) and (p.match(end_date)):
    print('matched')
else:
    print('unmatched')

matched